section.features {
    padding: 0;

    @include media-breakpoint-down(md) {
        margin: 0 auto;
    }

    .features {
        padding: 0;
        li {
            list-style: none;
        }

        .feature {
            position: relative;

            h4 {
                text-transform: uppercase;
                @include media-breakpoint-down(md) {
                    font-size: 0.9rem;
                }
            }
        }

        .feature {
            padding: 0.5rem 0;
            @include media-breakpoint-down(sm) {
                padding: 1rem 0;
            }

            h4 {
                position: relative;
                padding-left: 5rem;

                &:before {
                    content: "\00A0";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-repeat: no-repeat;
                    height: 4rem;
                    width: 4rem;
                }
            }

            p {
                margin-left: 5rem;
            }
        }

        .feature:nth-child(1) h4:before {
            background-image: url(/media/icon/home/artificial-intelligence.svg);
        }
        .feature:nth-child(2) h4:before {
            background-image: url(/media/icon/home/cool.svg);
        }
        .feature:nth-child(3) h4:before {
            background-image: url(/media/icon/home/worldwide.svg);
        }
        .feature:nth-child(4) h4:before {
            background-image: url(/media/icon/home/settings.svg);
        }
    }
}
