.page.page-faq {
    main {
        h1 {
            width: 100%;
            text-align: center;
        }

        h2 {
            margin-top: 2em;
            margin-bottom: 1em;
        }

        p:last-child {
            margin-bottom: 2em;
        }

        .faq-nav {
            .nav-item {
                text-align: center;
                padding: 0 1.3rem;
            }
        }
    }
}
