.page.page-login, .page.page-register {
    padding-top: 0;

main {
    max-width: 100% !important;
    padding: 0 !important;
}

    .page-section-header {
        @extend .psykhe-font-heading-fancy;
        font-size: 2rem;
    }

    .page-login-hero, .page-register-hero {
        @extend .row;
        max-width: 1700px;
        margin: 1% auto !important;
        padding: 0 20px;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 50%;
            @include media-breakpoint-down(sm) {
                flex-basis: 100%;
                max-width: 100%;

                &:last-child {
                   padding-top: 30px;
                }
            }

            span a {
                text-decoration: underline;
                &:hover {
                    text-decoration-style: double;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    @import 'section/how';
    @import 'section/features';
    @import 'section/more';

    .feature {
        padding: 1rem 0;
    }

    .testimonial-holder {
        margin:50px 0;
        padding: 0px 0;

        .testimonial {
            background: $psykhe-bluegrey;
            margin-top: 2px;
            padding: 15px 0;
            width: 100%;

            .testimonial-image {
                width: 140px;
                display: inline-block;
                vertical-align: top;

                img {
                    width: 80%;
                    border: $psykhe-tan 2px solid;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }

            .text {
                width: calc(100% - 150px);
                display: inline-block;
                vertical-align: top;
                font-size: 1.2rem;
                padding-top: 10px;

                @include media-breakpoint-down(md) {
                    font-size: 1rem;
                }

                span {
                    font-size: 0.8rem;
                    width: 100%;
                    display: block;

                    @include media-breakpoint-down(md) {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
