.form-control {
    border: #000 1px solid;
}

.col-form-label {
    // .text-md-right will override this on larger screens
    // text-align: center is only intended for smaller screens, in which the
    // label appears "above" the element
    text-align: center;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 0.9em 1em;
    font-weight: 300;
    font-size: 14px;
    border: #000 1px solid;
    margin: 0.5em 0;
}
