.main-footer {
    @extend .psykhe-font-nav;
    @extend .psykhe-dark;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .psykhe-brand {
        width: 100px;
    }

    @include media-breakpoint-down(sm) {
        .col {
            text-align: center;
            max-width: 100%;
            flex-basis: 100%;
            padding-bottom: 1rem;
        }
        .psykhe-brand {
            margin: 1rem auto;
        }
    }

    a {
        display: block;
        height: 1rem;
        white-space: nowrap;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
        white-space: nowrap;
        line-height: 0.5rem;
        word-spacing: 0.2em;
        letter-spacing: 0.05em;
    }

    .navbar-always {
        @extend .d-md-none;

        flex-direction: row;
        .nav-item {
            padding: 0;

            .nav-link {
                color: rgba(0,0,0,0);
                overflow: hidden;
            }
        }
    }

    .nav-item {
        text-transform: uppercase;
        padding: 0 1.5rem;
        &:last-child {
            padding-right: 0;
        }
        @include media-breakpoint-up(md) {
            border-left: 0.1rem solid black;
            &:first-child {
                border-left: none;
            }
        }

        .nav-link {
            color: black;
            padding: 0;

            &.nav-link-saved, &.nav-link-profile {
                display: inline-block;
                float: left;
                width: 1.5rem;
                height: 1.5rem;
                vertical-align: middle;
                margin-right: 1.5rem;
                background-image: url(/media/icon/heart.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: top center;
            }

            &.nav-link-profile {
                background-image: url(/media/icon/heart.svg);
            }

            &.nav-link-login {
                &::before, &::after {
                    @extend .d-none;
                    @extend .d-md-inline-block;
                    content: " ";

                    @extend .nav-link-saved;
                }

                &::after {
                    @extend .nav-link-profile;
                }
            }
        }
    }

    &.navbar-light {
        .navbar-toggler {
            border: none;
            padding: 0;

            .navbar-toggler-icon {
                background-image: inline-svg("<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
            }
        }
    }

    .social-footer {
        span {
            text-transform: uppercase;
            color: #fff;
            display: block;
            width: 100%;
            padding-bottom: 10px;
            line-height: 0.5rem;
        }

        .soc-icon {
            width: 30px;
            height: 30px;
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: 0 center;
            display: inline-block;
        }

        .icon-facebook {
            background-image: url(/media/icon/icon-facebook-w.svg);
        }

        .icon-instagram {
            background-image: url(/media/icon/icon-instagram-w.svg);
        }

    }
}
